<div class="mx-4 mt-4">
  <nz-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/">Home</a></nz-breadcrumb-item>
    <nz-breadcrumb-item> Post </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<div class="d-flex flex-column h-100 justify-content-between">
  <div>
    <div class="p-3">
      <nz-table
        style="margin-top: 20px"
        #sortTable
        [nzData]="tableData"
        [nzPageSize]="5"
        [nzLoading]="isFetchPostLoading"
        [nzTotal]="totalData"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        [nzPageSizeOptions]="[5, 10, 25, 50]"
        [nzScroll]="{ y: '50vh' }"
        nzShowSizeChanger
        [nzTitle]="headerTable"
        nzSize="small"
        (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
          <tr>
            <th
              *ngFor="let col of listOfColumns"
              [nzWidth]="col.width"
              [nzSortFn]="col.compare"
            >
              {{ col.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.userId }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.body }}</td>
            <td>
              <span
                nzTooltipPlacement="top"
                nz-tooltip
                nzTooltipTitle="Edit"
                (click)="openModal('edit', data)"
              >
                <button class="btn btn-sm btn-light mr-3">
                  <i class="fe fe-edit-3"></i>
                </button>
              </span>
              <span
                nzTooltipPlacement="top"
                nz-tooltip
                nzTooltipTitle="delete"
                (click)="deletePost(data.id)"
              >
                <button class="btn btn-sm btn-light mr-3">
                  <i class="fe fe-trash"></i>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #headerTable>
      <div class="row justify-content-between w-100 py-1">
        <div class="col-4">
          <span
            nzTooltipPlacement="top"
            nz-tooltip
            nzTooltipTitle="Add"
            style="margin-right: 8px"
            (click)="openModal('add')"
          >
            <a class="btn btn-lg btn-light mr-2">
              <i class="fe fe-plus"></i>
            </a>
          </span>
          <span
            nzTooltipPlacement="top"
            nz-tooltip
            nzTooltipTitle="Refresh"
            style="margin-right: 8px"
            (click)="fetchPost()"
          >
            <a class="btn btn-lg btn-light mr-2">
              <i class="fe fe-refresh-cw"></i>
            </a>
          </span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
